.hero {
    background-image: url('https://images.pexels.com/photos/8866776/pexels-photo-8866776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Ruta de la imagen de fondo */

}

/* Estilos para el título h2 */
.titulo {
    font-size: 2.5em; /* Ajusta el tamaño del título */
    margin-top: 250px; 
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
    color: #027373;
    background-color: rgba(255, 255, 255, 0.7)
}

/* Estilos para el párrafo */
.parrafo {
    font-size: 1.2em; /* Ajusta el tamaño del texto del párrafo */
    margin-top: 30px; /* Espacio superior para separar el texto del título */
    color: maroon;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7)
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    color: #038C7F;
    font-size: 1.8em;
    margin-bottom: 15px;
}


